.nav {
  grid-area: nav;
  justify-self: flex-end;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.column {
  margin: 0;
  padding: 0;

  list-style: none;

  &:not(:last-child) {
    margin-right: 45px;
  }
}

.item {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.link {
  margin: 0;

  color: var(--color-background);

  transition: all 0.5s ease-in-out;
  cursor: pointer;

  &:hover {
    color: var(--color-blue-light);
  }
}

@media (max-width: 1280px) {
  .nav {
    justify-self: stretch;
    flex-direction: column;
    justify-content: center;
  }

  .column {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &:not(:last-child) {
      margin: 5px auto 15px;
      padding-bottom: 15px;

      border-bottom: 1px solid var(--color-background);
    }
  }

  .item {
    margin: 5px;
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}
