.header {
  margin: 0 auto;
  padding: 40px 75px;
  max-width: 1990px;
  width: 100%;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.header__logo {
  font-family: var(#{--font-title});
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 28px;
  text-decoration: none;
  text-transform: lowercase;

  color: var(#{--color-blue});

  cursor: pointer;

  &:hover {
    color: var(--color-blue-dark);
  }
}

.headerNav {
  margin: 0;
  padding: 0;

  list-style: none;
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.headerNav__item {
  margin: 0;
  padding: 6px 0;
  margin-right: 30px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  &:hover .headerNav__link {
    color: var(#{--color-blue});
  }

  &:hover .headerNav__subgroup {
    visibility: visible;
    opacity: 1;
  }
}

.headerNav__link {
  margin: 0;

  font-family: var(#{--font-title});
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.2px;
  text-decoration: none;
  text-transform: uppercase;

  color: var(#{--color-black});
}

.headerNav__subgroup {
  margin: 0;
  padding: 20px;

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;

  border-radius: 0px 0px 30px 30px;
  background-color: var(#{--color-background});
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;

  list-style: none;

  transition: opacity 0.5s ease-in-out;
}

.headerNav__subitem {
  margin: 0;
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.headerNav__sublink {
  margin: 0;

  font-family: var(#{--font-title});
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;

  color: var(#{--color-black});

  &:hover {
    color: var(#{--color-blue});
  }
}

.header__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__actionsLine {
  margin: 0 15px;
  width: 1px;
  height: 20px;

  background-color: var(--color-grey);
}

.header__button {
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;

  display: block;

  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  cursor: pointer;
}

.header__button_search {
  background-image: url("../../assets/images/icons/search.svg");
}

.header__menuButton {
  display: none;
}

.header__button_menu {
  background-image: url("../../assets/images/icons/menu.svg");
}

.header__button_menuClose {
  background-image: url("../../assets/images/icons/close.svg");
}

.header__button_profileLogin {
  background-image: url("../../assets/images/icons/profile-login.svg");
}

.header__button_profileLogout {
  background-image: url("../../assets/images/icons/profile.svg");
}

.header__menu {
  padding: 0 15px 30px;
  min-height: 410px;
  box-sizing: border-box;

  border-radius: 0px 0px 30px 30px;
  background-color: var(#{--color-background});
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);

  display: none;
  align-items: stretch;
  justify-content: stretch;

  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  right: 0;
}

@media screen and (max-width: 1440px) {
  .header {
    padding: 40px;
    max-width: 1170px;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    max-width: 770px;
    flex-direction: row-reverse;
    transition: all ease-in-out 0.5s;
  }

  .header__menu {
    max-height: 0;
    min-height: 0;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: all ease-in-out 0.5s;
  }

  .header__menu_open {
    visibility: visible;
    opacity: 1;
    min-height: 410px;
  }

  .header_menuOpen {
    box-shadow: 0px -5px 5px rgb(0 0 0 / 10%);
  }

  .header__logo {
    font-size: 18px;
    line-height: 20px;
  }

  .headerNavigation {
    display: none;
  }

  .header__profile {
    width: 0;
    visibility: hidden;
    transition: all ease-in-out 0.5s;
  }

  .header__profile_open {
    width: 30px;
    margin-left: 10px;
    visibility: visible;
  }

  .header__actionsLine {
    display: none;
  }

  .header__menuButton {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 10px;
  }

  .header__menu {
    padding-top: 30px;
  }

  .header__menu_open {
    min-height: 340px;
  }
}
