// .popup-login__input {
//   margin: 0 auto 20px;
//   padding: 15px 20px;
//   width: 100%;
//   box-sizing: border-box;
//   font-family: "PT Root", "Arial", "Helvetica", sans-serif;
//   font-style: normal;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 19px;
//   letter-spacing: 0.2px;
//   outline: 0;
//   border: 0;
//   border-radius: 30px;
//   background-color: #f3f2f2;
// }

.container {
  margin: 0 auto;
  padding-bottom: 30px;
  width: 100%;

  position: relative;
}

.input {
  margin: 0;
  padding: 15px 20px;
  width: 100%;
  box-sizing: border-box;

  font-family: var(#{--font-text});
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;

  outline: 0;
  border: 1px solid var(#{--color-background});
  border-radius: 30px;
  background-color: var(#{--color-background});

  &::placeholder {
    color: var(--color-grey);
  }
}

.input_error {
  border-color: var(#{--color-error});
  background-color: var(#{--color-error-light});
}

.error {
  margin: 0;
  max-width: calc(100% - 40px);

  font-family: var(#{--font-text});
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: "100%";
  letter-spacing: 0.2px;
  color: var(#{--color-error});

  position: absolute;
  left: 20px;
  bottom: 10px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .container {
    padding-bottom: 15px;
  }

  .input {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 17px;
  }

  .error {
    font-size: 10px;
    line-height: 12px;
    bottom: 2px;
  }
}

//   .popup-login__input {
//     margin-bottom: 10px;
//     padding: 10px 20px;
//     font-size: 12px;
//     line-height: 17px;
//   }

//   .popup-login__text:last-of-type {
//     margin-bottom: 30px;
//   }

//   .popup-login__input:last-of-type {
//     margin-bottom: 20px;
//   }
