.footer {
  background-color: var(--color-blue-dark);
}

.content {
  margin: 0 auto;
  padding: 90px 0;
  max-width: 1090px;
  width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template: "logo helping nav" auto "about about nav" 1fr;
  align-items: center;
  justify-items: flex-start;
}

.logo {
  grid-area: logo;
}

.help {
  margin: 0;
  padding: 15px 20px;

  text-decoration: none;

  border: 1px solid;
  color: var(--color-background);
  border-radius: 99em;

  grid-area: helping;

  &:hover {
    color: var(--color-blue-light);
  }
}

.about {
  grid-area: about;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: flex-end;
}

.aboutItem {
  margin: 10px 30px 0 0;
  padding: 0;
}

.copyright {
  color: var(--color-blue-light);
}

.info {
  color: var(--color-background);
}

.link {
  text-decoration: underline;
  color: var(--color-background);

  &:hover {
    color: var(--color-blue-light);
  }
}

@media (max-width: 1280px) {
  .content {
    padding: 40px 15px 30px;
    max-width: 800px;

    grid-template: "logo" "nav" "helping" "about";
    justify-items: center;
    gap: 30px;
  }

  .about {
    align-self: center;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .aboutItem {
    margin: 5px auto 0;
  }

  .help {
    padding: 10px 15px;
    font-size: 12px;
  }
}
