.login {
  margin: 0 auto;
  max-width: 550px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}

.title {
  margin: 0 0 16px;
  padding: 0;

  font-family: var(#{--font-title});
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
}

.message {
  margin: 0 0 30px;

  font-family: var(#{--font-title});
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-align: center;

  &:last-child {
    margin-bottom: 50px;
  }
}

.passwordVisible {
  margin: 0;
  padding: 0;

  font-family: var(#{--font-text});
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;

  color: var(--color-grey-dark);
  outline: 0;
  border: 0;
  border-radius: 0;
  background-color: transparent;

  align-self: flex-start;

  cursor: pointer;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(#{--color-blue});
  }
}

.submit {
  margin-top: 30px;
  position: relative;
}

.error {
  margin: 0;
  max-width: calc(100% - 40px);

  font-family: var(#{--font-text});
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: "100%";
  letter-spacing: 0.2px;
  color: var(#{--color-error});

  position: absolute;
  left: 0;
  bottom: calc(100% + 6px);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .title {
    font-size: 19px;
    line-height: 23px;
  }

  .message {
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 16px;

    &:last-child {
      margin-bottom: 20px;
    }
  }
}
