@import "./index.scss";

.app {
  padding-top: 110px;
  min-height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  background-color: $color-background;
}

@media screen and (max-width: 425px) {
  .app {
    padding-top: 50px;
  }
}

.app__main {
  flex: 1;
}
