@import "./index.scss";

.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  background-color: $color-background;
}

.app__main {
  flex: 1;
}
