@import "~normalize.css";
@import "~@fontsource/roboto";
@import "~@fontsource/open-sans";

$color-blue: #224cff;
$color-dark: #2e2468;
$color-black: #000000;
$color-background: #f3f2f2;
$color-light-gray: #a7a6a6;

// --variable: var(#{--variable});

:root {
  --color-blue: #224cff;
  --color-dark: #2e2468;
  --color-black: #000000;
  --color-background: #f3f2f2;
  --color-light-gray: #a7a6a6;
  --color-blackout: rgba(0, 0, 0, 0.6);
  --color-popup: #ffffff;

  --font-proto: "Open Sans", sans-serif;
  --font-pt-root: "Roboto", sans-serif;
}

body {
  background-color: var(#{--color-background});
}
